.footerhome{
  position: fixed !important;
  left: 0;  
  
  bottom: 5px;
  width: 100%;
  background: white;
  text-align: center;
}
.footercontent{
  position: relative;
  left: 0%;
  bottom: 0px;
  width: 100%;
  background: white;
  text-align: center;
}
.whythis{
  font-style: italic;
  font-size: 14px;
  color: blue
}

.author{
  font-size: 15px;
  font-style: italic;
  color:darkcyan;
}
.f{
  margin: auto;
}
.react{
  color:mediumblue
}
.es6{
  color: darkgoldenrod
}
.redux{
  color: red
}
.webpack{
  color: royalblue
}