.question-query{
  position: fixed;
  width: 100%;
  z-index: 2;
  text-align: center;
}
.question-query *{
  margin: 1em 0;
  font-weight: bold;
  background: #009933;
  color: white;
  padding: 15px;
  display: inline-block;
  border-radius: 10px;
}