.sidenav {
  height: 100%;
  width: 0;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.3s;
 justify-content: center;
 align-items: center;
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}


.rectangle{
display: inline-block;
padding: 12px;
background: cadetblue;
color: white;
border-radius: 15px;
cursor: pointer;
}

.gly-icon{
  float: left;
  cursor: pointer;
  margin-top:12px;
  font-size: 20px;
}

.brand{
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  color: teal;
}
.navbar{
  margin-bottom: 0%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.container{
  width: 100%;
}

