.App {
text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgb(0, 64, 65);
  height: 150px;
  padding: 10px;
  color: white;
}

.App-title {
  
  font-size: 1.5em;
  color: rgb(218, 205, 205);
}

.App-intro {
  font-size: large;
}
.About {
  font-size: large;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.Sidebar{
  padding: 10em;
  
}